##################################################
# Application
##################################################

NODE_ENV=development

##################################################
# API
##################################################

PORT=3100
WEB_PORT=3001

##################################################
# Worker
##################################################

WORKER_HEARTBEAT_INTERVAL=5000

##################################################
# PostgreSQL
##################################################

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cloudpix
POSTGRES_PORT=5432

DATABASE_URL=
DIRECT_URL=

##################################################
# Redis
##################################################

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379

##################################################
# LocalStack (Coming Next)
##################################################

AWS_REGION=ap-south-1

##################################################
# S3 (Future)
##################################################

AWS_S3_BUCKET_NAME=

S3_ORIGINAL_PREFIX=originals/
S3_PROCESSED_PREFIX=processed/
S3_THUMBNAIL_PREFIX=thumbnails/

##################################################
# SQS
##################################################

AWS_SQS_QUEUE_URL=
AWS_SQS_QUEUE_ARN=

##################################################
# IAM (Future)
##################################################

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

##################################################
# Logging
##################################################

LOG_LEVEL=debug