NODE_ENV=development

PORT=3100

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cloudpix
POSTGRES_PORT=5432

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/cloudpix

REDIS_URL=redis://redis:6379

AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key

S3_ORIGINAL_BUCKET=your-original-bucket
S3_PROCESSED_BUCKET=your-processed-bucket

SQS_IMAGE_QUEUE=your-queue-name

LOG_LEVEL=debug